body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.bg-white {
    background-color: white;
}

.btn-round {
    border-radius: 50%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 100%;
}

.clear-none {
    clear: none;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.text-small {
    font-size: small;
}

.text-smaller {
    font-size: smaller;
}

.text-supersmall {
    font-size: x-small;
}

@media (min-width: 768px) {
    .clear-md-none {
        clear: none;
    }

    .clear-md-left {
        clear: left;
    }

    .clear-md-right {
        clear: right;
    }
}

@media (min-width: 992px) {
    .clear-lg-none {
        clear: none;
    }

    .clear-lg-left {
        clear: left;
    }

    .clear-lg-right {
        clear: right;
    }

    .border-right-lg-none {
        border-right: none;
    }
}

@media (min-width: 1200px) {
    .clear-xl-none {
        clear: none;
    }

    .clear-xl-left {
        clear: left;
    }

    .clear-xl-right {
        clear: right;
    }
}