@model Nest.ViewModels.PostListViewModel

@Html.Action("ChannelMenu", "Nav")
<div>
    @if (Model.Posts.Count() > 0) {
        foreach (var post in Model.Posts) {
            @Html.Partial("Post", post)
        }
    } else {
        <span class="text-light">No posts found.</span>
    }
</div>

@if (Model.PaginationInfo.TotalPages > 1) {
    <div class="pagination">
        @Html.PageLinks(Model.PaginationInfo, x => Url.Action("Feed", "Post", new { page = x, category = Model.CurrentCategory }))
    </div>
}

@if (Model.User != null) {
<div class="fixed-bottom float-right mb-5 mx-auto col-12 col-lg-8">
    <a href="@Url.Action("CreatePost", "Post", new { channel = Model.CurrentCategory })" class="btn text-dark float-right bg-warning m-1 btn-lg btn-round">+</a>
</div>
}

